PORT=5000
MONGO_URI=mongodb+srv://<usuario>:<contraseña>@cluster.mongodb.net/LePan?retryWrites=true&w=majority&appName=reportes
JWT_SECRET=escribe_aqui_un_secreto_super_seguro
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
EMAIL_SERVICE=gmail
EMAIL_USERNAME=
EMAIL_PASSWORD=
FRONTEND_URL=http://localhost:3000
GOOGLE_CLIENT_ID=

# MODO Pagos - https://merchants.modo.com.ar
MODO_ENV=preprod
MODO_USERNAME=
MODO_PASSWORD=
MODO_STORE_ID=
MODO_PROCESSOR_CODE=
MODO_CC_CODE=AHO
